input {
    width: 100%;
    border: 0;
    padding: 6px;
    border-radius: 5px 0;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 15px;
    transition: 0.25s all ease-out;
}
input:hover,
input:focus {
    background: rgba(255, 255, 255, 0.2);
}
