* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #101119;
    font-family: sans-serif;
    color: #fff;
}

h1, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

canvas {
    max-width: 100%;
    background: rgba(255, 255, 255, 0.1);
}

/* Standard button styles get reset */
button {
    margin: 0;
    border: 0;
    text-decoration: none;
    text-indent: 0;
}
button::-moz-focus-inner {
    border: 0;
}

.hidden {
    display: none;
}

.transition {
    transition: 0.25s all ease-out;
}

.glass {
    filter: blur(4px);
}

.buttons {
    margin: 20px 0;
}
.button {
    padding: 12px;
    border-radius: 5px 0;
    background: #5c376e;
    color: #fff;
    font-size: 18px;
    transition: 0.25s all ease-out;
}
.button:not(:first-child) {
    margin-left: 10px;
}
.button--wide:not(:first-child) {
    margin: 10px 0 0;
}
.button:hover {
    background: #333;
}
.button--wide {
    width: 100%;
}

.play-pause {
    position: relative;
    flex: 26px;
    height: 45px;
    margin-right: 20px;
}
.play-pause:before,
.play-pause:after {
    content: '';
    position: absolute;
    left: 25px;
    height: 10px;
    transition: 0.25s all ease-out;
}
.play-pause:before {
    top: 14px;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
}
.play-pause:after {
    top: 20px;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.play-pause.is-active:before {
    top: 17px;
    left: 19px;
    transform: rotate(0deg);
}
.play-pause.is-active:after {
    top: 17px;
    left: 27px;
    transform: rotate(0deg);
}

@media only screen and (max-width: 600px) {
    body {
        height: inherit;
    }
}
