.menu {
    display: flex;
    position: fixed;
    z-index: 1;
    right: 100vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: 0.25s opacity ease-out;
}
.menu.is-active {
    right: 0;
    top: 0;
    opacity: 1;
}

.menu__links {
    flex: 0 0 300px;
}
.menu__links ul {
    margin: 0;
    padding: 49px;
    list-style: none;
}
.menu__links button {
    width: 100%;
    padding: 20px 0 20px 20px;
    background: transparent;
    text-align: left;
    font-size: 24px;
    color: #fff;
    opacity: 0.33;
}
.menu__links .is-active {
    opacity: 1;
}

.menu__content {
    flex: 1;
    height: 100vh;
    padding-right: 20px;
}
.menu__content > div {
    display: none;
    height: 100vh;
}
.menu__content .is-active {
    display: block;
}
.menu__content h2 {
    margin: 0;
    padding: 12px 0 32px;
    font-size: 20px;
}

.menu__group {
    margin-bottom: 40px;
}
.menu__component {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    min-height: 30px;
}
.menu__group:nth-last-child(2),
.menu__component:nth-last-child(2) {
    margin-bottom: 0;
}

.menu__toggler {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
    padding: 10px;
    background: rgba(0,0,0,0.1);
}
.menu__toggler.is-active {
    background: #333;
}
.menu__toggler span {
    content: '';
    display: block;
    height: 2px;
    background: #fff;
}
.menu__toggler span:nth-child(2) {
    margin: 6px 0;
}

.menu__toggler.is-active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}
.menu__toggler.is-active span:nth-child(2) {
    opacity: 0;
}
.menu__toggler.is-active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}

.play-pause {
    width: 47px;
}

@media only screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
    }

    .menu__links {
        flex: inherit;
    }
    .menu__links ul {
        padding: 0;
    }
    .menu__links button {
        padding: 20px;
    }

    .menu__content {
        flex: inherit;
        height: inherit;
        padding: 20px;
    }
    .menu__content > div {
        height: inherit;
    }

    .menu__toggler {
        left: inherit;
        top: inherit;
        bottom: 15px;
        right: 15px;
    }
}
